In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
ls

country_wise_latest.csv      day_wise.csv      main.ipynb  usa_county_wise.csv
covid_19_clean_complete.csv  full_grouped.csv  test.ipynb  worldometer_data.csv

In [65]:
df3 = pd.read_csv('day_wise.csv')
df4 = pd.read_csv('full_grouped.csv')

In [62]:
df6.tail()

,Country/Region,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotalTests
204,Montserrat,4992.0,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,61.0
205,Caribbean Netherlands,26247.0,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,424.0
206,Falkland Islands,3489.0,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,1816.0
207,Vatican City,801.0,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,NaN
208,Western Sahara,598682.0,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,NaN

In [61]:
a = ['Continent']
for b in a:
    del df6[b]